<footer class="footer-area bg-f7fafd">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-6">
                <div class="single-footer-widget">
                    <div class="logo">
                        <a href="#"><img src="https://de-acm-assets.eco.astro.com.my/images/cfm.png" alt="logo"></a>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget pl-5">
                    <h3>Product & Services</h3>
                    <ul class="list">
                        <li><a href="#">Packs & Subscriptions</a></li>
                        <li><a href="#">NJOI Prepaid</a></li>
                        <li><a href="#">TV Guide</a></li>
                        <li><a href="#">Promotions</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2 col-md-6">
                <div class="single-footer-widget">
                    <h3>About Astro</h3>
                    <ul class="list">
                        <li><a href="#">Astro Malaysia Holdings</a></li>
                        <li><a href="#">Astro Kasih</a></li>
                        <li><a href="#">Media Room</a></li>
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">Business Partner</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2 col-md-6">
                    <div class="single-footer-widget">
                        <h3>Astro Business</h3>
                        <ul class="list">
                            <li><a href="#">Astro Go Shop</a></li>
                            <li><a href="#">Astro Radio</a></li>
                            <li><a href="#">Astro Productions</a></li>
                            <li><a href="#">Rocket Fuel</a></li>
                            <li><a href="#">Blaze Digital</a></li>
                            <li><a href="#">Content Distribution</a></li>
                        </ul>
                    </div>
                </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget">
                    <h3> Get In Touch With Us </h3>

                    <ul class="footer-contact-info">
                        <li><i-feather name="map-pin"></i-feather> <strong>Call us or Whatsapp "Hi" </strong></li>
                        <li><i-feather name="map-pin"></i-feather> <strong>to +(603) 9543 3838</strong></li>
                        <li><i-feather name="mail"></i-feather> Email: <a href="#">astro@gmail.com</a></li>
                    </ul>
                    <ul class="social-links">
                        <li><a href="#" class="facebook"><i-feather name="facebook"></i-feather></a></li>
                        <li><a href="#" class="twitter"><i-feather name="twitter"></i-feather></a></li>
                        <li><a href="#" class="instagram"><i-feather name="instagram"></i-feather></a></li>
                        <li><a href="#" class="linkedin"><i-feather name="linkedin"></i-feather></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-12 col-md-12">
                <div class="copyright-area">
                    <p>Copyright © Jose. All rights reserved</p>
                </div>
            </div>
        </div>
    </div>

    <img src="assets/img/map.png" class="map" alt="map">
</footer>

<div class="go-top"><i-feather name="arrow-up"></i-feather></div>
