/*================================================
Navbar CSS
=================================================*/
#header.is-sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
            animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
}

#header.is-sticky .startp-nav {
    background-color: #ffffff !important;
    -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
            box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
    -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
            animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    padding: 5px 0;
}

.startp-mobile-nav {
    display: none;
}

.startp-mobile-nav.mean-container .mean-nav ul li a.active {
    color: #44ce6f;
}

.startp-nav {
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 15px;
    width: 100%;
    z-index: 999;
    height: auto;
}
.navbar-toggler {
    padding: 3px 8px;
    font-size: 18px;
}

.startp-nav.p-relative {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
}

.startp-nav nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.startp-nav nav .navbar-nav .nav-item {
    position: relative;
    padding: 15px 0;
}

.startp-nav nav .navbar-nav .nav-item a {
    font-weight: 500;
    font-size: 14px;
    color: #4a6f8a;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 14px;
    margin-right: 14px;
}

.startp-nav nav .navbar-nav .nav-item a:hover, .startp-nav nav .navbar-nav .nav-item a:focus, .startp-nav nav .navbar-nav .nav-item a.active {
    color: #44ce6f;
}

.startp-nav nav .navbar-nav .nav-item a svg {
    width: 14px;
}

.startp-nav nav .navbar-nav .nav-item .dropdown_menu {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    background: #ffffff;
    position: absolute;
    top: 80px;
    left: 0;
    width: 250px;
    z-index: 99;
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 20px;
    opacity: 0;
    border-radius: 5px;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.startp-nav nav .navbar-nav .nav-item .dropdown_menu li {
    position: relative;
    padding: 0;
}

.startp-nav nav .navbar-nav .nav-item .dropdown_menu li a {
    font-size: 13px;
    font-weight: 500;
    padding: 6px 15px;
    margin: 0;
    display: block;
    color: #4a6f8a;
}

.startp-nav nav .navbar-nav .nav-item .dropdown_menu li a:hover, .startp-nav nav .navbar-nav .nav-item .dropdown_menu li a:focus, .startp-nav nav .navbar-nav .nav-item .dropdown_menu li a.active {
    color: #44ce6f;
}

.startp-nav nav .navbar-nav .nav-item .dropdown_menu li .dropdown_menu {
    position: absolute;
    left: 100%;
    top: 0;
    opacity: 0 !important;
    visibility: hidden !important;
}

.startp-nav nav .navbar-nav .nav-item .dropdown_menu li .dropdown_menu li a {
    color: #4a6f8a;
}

.startp-nav nav .navbar-nav .nav-item .dropdown_menu li .dropdown_menu li a:hover, .startp-nav nav .navbar-nav .nav-item .dropdown_menu li .dropdown_menu li a:focus, .startp-nav nav .navbar-nav .nav-item .dropdown_menu li .dropdown_menu li a.active {
    color: #44ce6f;
}

.startp-nav nav .navbar-nav .nav-item .dropdown_menu li:hover .dropdown_menu {
    opacity: 1 !important;
    visibility: visible !important;
    top: -20px !important;
}

.startp-nav nav .navbar-nav .nav-item .dropdown_menu li:hover a {
    color: #44ce6f;
}

.startp-nav nav .navbar-nav .nav-item:hover ul {
    opacity: 1;
    visibility: visible;
    top: 100%;
}

.startp-nav nav .others-option {
    margin-left: 20px;
}

.startp-nav nav .others-option .btn.btn-light {
    background: transparent;
    border: 2px dashed #cdf1d8;
    padding: 12px 33px;
    margin-right: 10px;
}

.startp-nav nav .others-option .btn.btn-light:hover, .startp-nav nav .others-option .btn.btn-light:focus {
    color: #ffffff;
    border-color: #44ce6f;
}

.startp-nav nav .others-option .btn.btn-light::after, .startp-nav nav .others-option .btn.btn-light::before {
    background: #44ce6f;
}

.startp-nav nav .others-option .btn.btn-primary {
    background: #c679e3;
    -webkit-box-shadow: 0 13px 27px 0 rgba(198, 121, 227, 0.25);
            box-shadow: 0 13px 27px 0 rgba(198, 121, 227, 0.25);
}

.startp-nav nav .others-option .btn.btn-primary::after, .startp-nav nav .others-option .btn.btn-primary::before {
    background: #44ce6f;
    -webkit-box-shadow: 0 13px 27px 0 rgba(68, 206, 111, 0.25);
            box-shadow: 0 13px 27px 0 rgba(68, 206, 111, 0.25);
}
.startp-nav nav .navbar-nav .nav-item a  i-feather {
    width: auto;
    height: auto;
}
