
<header id="header" (scroll)="onWindowScroll($event)">
    <div id="navbar" class="startp-nav {{layoutClass}}">
        <nav class="navbar navbar-expand-md navbar-light">
            <div class="container">
                <a class="navbar-brand" routerLink="/">
                    <img src="https://de-acm-assets.eco.astro.com.my/images/astro-logo.svg" alt="logo">
                </a>

                <button
                    class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                    (click)="toggleNavbar()">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" [ngClass]="{'show': navbarOpen}" id="navbarSupportedContent">
                    <ul class="navbar-nav nav ml-auto">
                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link">
                                Product & Services <i-feather name="chevron-down"></i-feather>
                            </a>
                            <ul class="dropdown_menu">
                                <li (click)="toggleNavbar()" class="nav-item">
                                    <a routerLink="/" routerLinkActive="active" class="nav-link">
                                        TV
                                    </a>
                                </li>

                                <li (click)="toggleNavbar()" class="nav-item">
                                    <a routerLink="/" routerLinkActive="active" class="nav-link">
                                        Ultra Box
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li (click)="toggleNavbar()" class="nav-item">
                            <a routerLink="/about" routerLinkActive="active" class="nav-link">TV Guide</a>
                        </li>

                        <li (click)="toggleNavbar()" class="nav-item">
                            <a routerLink="/about" routerLinkActive="active" class="nav-link">Promotions</a>
                        </li>

                        <li (click)="toggleNavbar()" class="nav-item">
                            <a routerLink="/about" routerLinkActive="active" class="nav-link">My Account</a>
                        </li>

                    </ul>
                </div>

                <div class="others-option">
                    <a href="javascript:void(0)" class="btn btn-light">Support</a>
                    <a href="javascript:void(0)" class="btn btn-light">Login</a>
                </div>
            </div>
        </nav>
    </div>
</header>
