/*================================================
Boxes CSS
=================================================*/
.boxes-area {
    position: relative;
    padding-bottom: 80px;
    margin-top: -130px;
    z-index: 1;
}

.hosting-boxes-area {
    background-color: #032b8d;
    margin-top: 0;
}

.hosting-boxes-area .single-box {
    padding-left: 18px;
    padding-right: 18px;
}

.single-box {
    border: 1px dashed #cdf1d8;
    position: relative;
    z-index: 1;
    border-radius: 5px;
    margin-bottom: 10px;
    background: #ffffff;
    -webkit-box-shadow: 0 0 10px rgba(72, 69, 224, 0.1);
            box-shadow: 0 0 10px rgba(72, 69, 224, 0.1);
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.single-box .icon-flat {
    display: inline-block;
    text-align: center;
    line-height: 55px;
    background: #cdf1d8;
    color: #44ce6f;
    -webkit-transition: 0.5s;
    transition: 0.5s;

    img {
        height: 100%;
        width: 100%;
    }
}

.content-flex {
    display: flex;
    .content-heading {
        margin-left: 10px;
    }
}

.single-box .icon {
    width: 3rem;
    border: 1px solid #8b8b8b;
    height: 3rem;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center;
    border-radius: 1.5rem;
}

.single-box .inner-content {
    padding: 25px;
}

.single-box h3 {
    height: 52px;
    font-size: 1.25rem;
    margin-top: 1rem;
    line-height: 26px;
    margin-bottom: 12px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.single-box::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    border-radius: 5px;
    height: 100%;
    background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%);
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.single-box p {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    margin-bottom: -6px;
}

.single-box:hover {
    -webkit-transform: translateY(-9px);
            transform: translateY(-9px);
    border-color: transparent;
}

.single-box:hover::before {
    opacity: 1;
    visibility: visible;
}

.single-box:hover .icon {
    background: #ffffff;
    color: #44ce6f;
}

.single-box:hover h3, .single-box:hover p {
    color: #ffffff;
}
