<section class="boxes-area">
        <div class="container">
            <div class="row">
                <div *ngFor="let item of tileData"  class="col-lg-4 col-md-6">
                    <div class="single-box">
                        <div class="icon-flat">
                            <img src="{{item.img}}" alt="">
                        </div>
                        <div class="inner-content">
                            <div class="content-flex"> 
                                <div class="icon">
                                    <img src="{{item.icon}}" alt="">
                                </div>
                                <div class="content-heading"> 
                                    <div> <h6> {{item.title1}} </h6> </div>
                                    <div> {{item.title2}} </div>
                                </div>
                            </div>
                            <div>
                                <h3>{{item.title}}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>