<div class="main-banner">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="row h-100 justify-content-center align-items-center">
                    <div class="col-lg-5">
                        <div class="hero-content">
                            <img src="assets/img/astro/mini-reward.png" alt="">
                            <h1>Exclusive rewards for Astro Subcribers </h1>
                            <p> Many exciting rewards await you!</p>
                        </div>
                    </div>

                    <div class="col-lg-6 offset-lg-1">
                        <div class="banner-image">
                            <img src="assets/img/astro/banner-image.png" alt="">
                            <div> test </div>
                        </div>
                    </div>
                </div>
                <div class="sub-header">
                     <span class="sub-right-text"> What's New? </span>
                     <div>
                            <select #select (change)="onChange($event.target.value)">
                                <option value ="1">Featured</option>
                                <option value ="2">Latest</option>
                                <option value ="3">Expiry</option>
                                <option value ="4">A-Z</option>
                                <option value ="5">Z-A</option>
                            </select>
                     </div>
                </div> 
            </div>
        </div>
    </div>
</div>

<app-tile-boxes [tileData]="tileData"></app-tile-boxes>
