/*================================================
Main Banner CSS
=================================================*/
.main-banner {
    position: relative;
    height: 600px;
    z-index: 1;
    background: transparent url(../../../assets//img//banner-bg1.jpg) right top no-repeat;
}

.main-banner .hero-content h1 {
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 20px;
}

.main-banner .hero-content p {
    margin-bottom: 30px;
    font-size: 15px;
}

.main-banner .banner-form {
    background: #ffffff;
    -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
            box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
    padding: 50px 30px;
    border-radius: 5px;
}

.main-banner .banner-form form .form-control {
    padding-left: 15px;
}

.main-banner .banner-form form .btn {
    display: block;
    width: 100%;
    -webkit-transform: unset;
            transform: unset;
    margin-top: 25px;
}

.main-banner .banner-image {
    position: relative;
    width: 583px;
}

.main-banner .banner-image img {
    position: absolute;
}

.main-banner .banner-image img:nth-child(1) {
    z-index: 3;
    top: -92px;
    left: -45px;
}

.main-banner .banner-image img:nth-child(2) {
    right: 145px;
    top: -287px;
}

.main-banner .banner-image img:nth-child(3) {
    left: 25px;
    top: -20px;
}

.main-banner .banner-image img:nth-child(4) {
    right: 12%;
    top: 118px;
    z-index: 1;
}

.main-banner .banner-image img:nth-child(5) {
    left: 28%;
    top: -120px;
    z-index: 2;
}

.main-banner .banner-image img:nth-child(6) {
    right: 35%;
    z-index: 1;
    top: -150px;
}

.main-banner .banner-image img:nth-child(7) {
    right: 20px;
    top: -110px;
}

.main-banner .banner-image img:nth-child(8) {
    right: 25px;
    top: -140px;
}

.main-banner .banner-image img:nth-child(9) {
    right: 30%;
    z-index: 1;
    top: -35px;
}

.main-banner .banner-image img:nth-child(10) {
    left: 37%;
    top: -28px;
    z-index: 1;
}

.main-banner .banner-image img:nth-child(11) {
    left: 37%;
    top: -160px;
    z-index: 1;
}

.main-banner .banner-image img:nth-child(12) {
    left: 90px;
    top: -110px;
}

.main-banner .banner-image img:nth-child(13) {
    left: 56%;
    top: -25px;
    z-index: 2;
}

.main-banner .banner-image img:nth-child(14) {
    right: 105px;
    top: -28px;
}

.sub-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .sub-right-text{
        font-size: 1.25rem;
        line-height: 1.25;
        font-weight: 600;
    }
}

select {
    width: 100%;
    padding: 7px 0.5rem 7px 1rem;
    z-index: 2;
    position: relative;
    font-size: 1rem;
    min-width: 156px;
    line-height: 1;
    border-color: #bbb;
    background-color: #fff;
}

@-webkit-keyframes movebounce {
    0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    }
    50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    }
    100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    }
}

@keyframes movebounce {
    0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    }
    50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    }
    100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    }
}

@-webkit-keyframes moveleftbounce {
    0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    }
    50% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
    }
    100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    }
}

@keyframes moveleftbounce {
    0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    }
    50% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
    }
    100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    }
}

.rotateme {
    -webkit-animation-name: rotateme;
            animation-name: rotateme;
    -webkit-animation-duration: 20s;
            animation-duration: 20s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
}

@keyframes rotateme {
    from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    }
    to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    }
}

@-webkit-keyframes rotateme {
    from {
    -webkit-transform: rotate(0deg);
    }
    to {
    -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes rotate3d {
    0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    }
    100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
    }
}

@keyframes rotate3d {
    0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    }
    100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
    }
}

@keyframes animationFramesOne {
    0% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
            transform: translate(0px, 0px) rotate(0deg);
    }
    20% {
    -webkit-transform: translate(73px, -1px) rotate(36deg);
            transform: translate(73px, -1px) rotate(36deg);
    }
    40% {
    -webkit-transform: translate(141px, 72px) rotate(72deg);
            transform: translate(141px, 72px) rotate(72deg);
    }
    60% {
    -webkit-transform: translate(83px, 122px) rotate(108deg);
            transform: translate(83px, 122px) rotate(108deg);
    }
    80% {
    -webkit-transform: translate(-40px, 72px) rotate(144deg);
            transform: translate(-40px, 72px) rotate(144deg);
    }
    100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
            transform: translate(0px, 0px) rotate(0deg);
    }
}

@-webkit-keyframes animationFramesOne {
    0% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    }
    20% {
    -webkit-transform: translate(73px, -1px) rotate(36deg);
    }
    40% {
    -webkit-transform: translate(141px, 72px) rotate(72deg);
    }
    60% {
    -webkit-transform: translate(83px, 122px) rotate(108deg);
    }
    80% {
    -webkit-transform: translate(-40px, 72px) rotate(144deg);
    }
    100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    }
}

