/*================================================
Default CSS
=================================================*/
/* @import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"); */
body {
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    font-size: 14px;
}
img {
    max-width: 100%;
}
a {
    color: #0e314c;
    display: inline-block;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    text-decoration: none;
    outline: 0 !important;
}
a:hover, a:focus {
    color: #44ce6f;
    text-decoration: none;
}
.d-table {
    width: 100%;
    height: 100%;
}
.d-table-cell {
    vertical-align: middle;
}
p {
    color: #6084a4;
    line-height: 1.8;
}
p:last-child {
    margin-bottom: 0;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #0e314c;
    font-weight: 500;
}
.ptb-80 {
    padding-top: 80px;
    padding-bottom: 80px;
}
.pb-80 {
  padding-bottom: 80px;
}
.pt-80 {
  padding-top: 80px;
}
.pb-50 {
  padding-bottom: 50px;
}
.bg-f7fafd {
    background-color: #f7fafd;
}
.bg-f9f6f6 {
    background-color: #f9f6f6;
}
.bg-f9fafb {
    background-color: #f9fafb;
}
.bg-0f054b {
    background-color: #0f054b;
}

/*owl carousel btn*/
.owl-theme .owl-nav {
    margin-top: 0;
}
.owl-theme .owl-dots {
    margin-top: 20px;
    line-height: 0.01;
}
.owl-theme .owl-dots .owl-dot span {
    width: 15px;
    height: 15px;
    margin: 0 5px;
    background: #D6D6D6;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}
.owl-theme .owl-dots .owl-dot:hover span, .owl-theme .owl-dots .owl-dot.active span {
    background: #44ce6f;
}

/*btn btn-primary*/
.btn-primary {
    color: #ffffff;
    background-color: #44ce6f;
    -webkit-box-shadow: 0 13px 27px 0 rgba(68, 206, 111, 0.25);
            box-shadow: 0 13px 27px 0 rgba(68, 206, 111, 0.25);
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    color: #ffffff;
    background: #0e314c;
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
    -webkit-box-shadow: 0 13px 27px 0 rgba(198, 121, 227, 0.25);
            box-shadow: 0 13px 27px 0 rgba(198, 121, 227, 0.25);
}
.btn-primary.focus, .btn-primary:focus {
    -webkit-box-shadow: unset;
            box-shadow: unset;
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary .show > .btn-primary.dropdown-toggle:focus {
    -webkit-box-shadow: unset;
            box-shadow: unset;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .btn-primary .show > .btn-primary.dropdown-toggle {
    color: #ffffff;
    background: #0e314c;
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
    -webkit-box-shadow: 0 13px 27px 0 rgba(198, 121, 227, 0.25);
            box-shadow: 0 13px 27px 0 rgba(198, 121, 227, 0.25);
}
.btn-primary.disabled, .btn-primary:disabled {
    color: #ffffff;
    background-color: #44ce6f;
    -webkit-box-shadow: 0 13px 27px 0 rgba(68, 206, 111, 0.25);
            box-shadow: 0 13px 27px 0 rgba(68, 206, 111, 0.25);
    opacity: 1;
}
.btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary:disabled:hover, .btn-primary:disabled:focus {
    background: #0e314c;
    -webkit-box-shadow: 0 13px 27px 0 rgba(198, 121, 227, 0.25);
            box-shadow: 0 13px 27px 0 rgba(198, 121, 227, 0.25);
}
.btn {
    font-weight: 600;
    font-size: 14px;
    border: none;
    padding: 15px 40px;
    position: relative;
    border-radius: 4px;
    z-index: 1;
    text-transform: uppercase;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.btn::after, .btn::before {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background: #c679e3;
    z-index: -1;
}
.btn::after {
    left: 0;
    border-radius: 4px 0 0 4px;
}
.btn::before {
    right: 0;
    border-radius: 0 4px 4px 0;
}
.btn:hover::after, .btn:hover::before {
    width: 50%;
}

/*form control*/
.form-group {
    margin-bottom: 18px;
}
label {
    color: #0e314c;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
}
.form-control {
    height: 45px;
    padding: 10px 15px;
    font-size: 13px;
    color: #0e314c;
    border: 1px solid #eeeeee;
    border-radius: 0;
    background: #eeeeee;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.form-control:focus {
    outline: 0;
    background: #ffffff;
    -webkit-box-shadow: unset;
            box-shadow: unset;
    border-color: #44ce6f;
}

/*Section Title*/
.section-title {
    text-align: center;
    margin-bottom: 60px;
}
.section-title h2 {
    margin-top: -8px;
    margin-bottom: 0;
    font-size: 28px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 1.4;
}

.section-title p {
    max-width: 520px;
    margin: 0 auto;
}

.section-title .bar {
    height: 5px;
    width: 90px;
    background: #cdf1d8;
    margin: 20px auto;
    position: relative;
    border-radius: 30px;
}

.section-title .bar::before {
    content: '';
    position: absolute;
    left: 0;
    top: -2.7px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #44ce6f;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-name: MOVE-BG;
            animation-name: MOVE-BG;
}

@-webkit-keyframes MOVE-BG {
    from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    }
    to {
    -webkit-transform: translateX(88px);
            transform: translateX(88px);
    }
}

@keyframes MOVE-BG {
    from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    }
    to {
    -webkit-transform: translateX(88px);
            transform: translateX(88px);
    }
}

/*================================================
Preloader CSS
=================================================*/
.preloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    background: #44ce6f;
}

.preloader .spinner {
    width: 60px;
    height: 60px;
    background-color: #ffffff;
    margin: 0 auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
            animation: sk-rotateplane 1.2s infinite ease-in-out;
    position: absolute;
    right: 0;
    left: 0;
    -webkit-box-shadow: 0 0 70px 0 rgba(0, 0, 0, 0.4);
            box-shadow: 0 0 70px 0 rgba(0, 0, 0, 0.4);
    top: 50%;
    margin-top: -75px;
}

@-webkit-keyframes sk-rotateplane {
    0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }
    50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
            transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    }
    100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

@keyframes sk-rotateplane {
    0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }
    50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
            transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    }
    100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

/*=============================
Go Top CSS
===============================*/
.go-top {
    position: fixed;
    cursor: pointer;
    bottom: 30px;
    right: 0;
    color: #ffffff;
    background-color: #c679e3;
    z-index: 1;
    display: none;
    width: 45px;
    text-align: center;
    height: 45px;
    border-radius: 10px 0 0 10px;
    line-height: 46px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.go-top:hover {
    color: #ffffff;
    background: #44ce6f;
}
/**SA***/
.owl-carousel{
    display: block !important;
}
