/*================================================
404 Error CSS
=================================================*/
.error-area {
    height: 100vh;
}

.error-content {
    text-align: center;
}

.error-content .notfound-404 {
    position: relative;
    height: 280px;
    z-index: -1;
    margin-bottom: 30px;
}

.error-content .notfound-404 h1 {
    font-size: 230px;
    font-weight: 900;
    margin: 0;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background: url(../../../assets/img/oops-bg.jpg) no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover;
    background-position: center;
}

.error-content h3 {
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 15px;
}

.error-content p {
    max-width: 550px;
    margin: 0 auto 25px;
}